@model EducationPlatform.Models.Entities.User
@{
    ViewData["Title"] = "Профіль";
}


@if (Model.IsBanned == true)
{
    @section Styles {
        <link href="~/lib/template/css/style-no-access.css" rel="stylesheet" />
    }

    @await Html.PartialAsync("_NotVerified")
}
else
{
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div>
                            <h3 class="card-title text-uppercase">Викладач: <span>@Model.LastName @Model.FirstName @Model.MiddleName</span></h3>
                            <p class="mb-3">Email: <span class="font-weight-bold">@Model.Email</span></p>
                            <p class="mb-3">Прізвище: <span class="font-weight-bold">@Model.LastName</span></p>
                            <p class="mb-3">Імя: <span class="font-weight-bold">@Model.FirstName</span></p>
                            <p class="mb-3">По батькові: <span class="font-weight-bold">@Model.MiddleName</span></p>
                            <p class="mb-3">Номер телефону: <span class="font-weight-bold">@Model.PhoneNumber</span></p>
                            <p class="mb-3">Кількість курсів: <span class="font-weight-bold">@ViewBag.Courses</span></p>
                            <p class="mt-3">
                                Статус: <span class="font-weight-bold text-success">Активний</span>
                            </p>
                        </div>
                        <div class="d-flex flex-wrap">
                            <form class="d-inline" method="get" asp-controller="Teachers" asp-action="Setting" asp-route-email="@Model.Email">
                                <button title="Редагувати" type="submit" class="btn btn-inverse-warning btn-sm d-flex align-items-center">
                                    <i class="mdi mdi-lead-pencil"></i> <span class="ml-2">Редагувати</span>
                                </button>
                            </form>
                            @if (ViewBag.HasTwoFactor == true)
                            {
                                <form class="d-inline" method="post" asp-controller="Account" asp-action="SetTwoFactorAuthorization" asp-route-grant="false">
                                    <button title="Виключити двофакторну авторизацію" type="submit" class="btn btn-inverse-danger h-100 btn-sm d-flex text-center ml-2">
                                        <span>Виключити TWA</span>
                                    </button>

                                </form>
                            }
                            else
                            {
                                <form class="d-inline" method="post" asp-controller="Account" asp-action="SetTwoFactorAuthorization" asp-route-grant="true">
                                    <button title="Включити двофакторну авторизацію" type="submit" class="btn btn-inverse-success h-100 btn-sm d-flex text-center ml-2">
                                        <span>Включити TWA</span>
                                    </button>
                                </form>
                            }
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
        </div>
    </div>

    <!-- main-panel ends -->
}

