@model EducationPlatform.Models.ViewModels.LoginViewModel
@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<EducationPlatform.Models.Entities.User> SignInManager

@{
    Layout = "_LayoutAuth";
}

<div class="content-wrapper d-flex align-items-center auth px-0">
    <div class="row w-100 mx-0">
        <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <h4>Вхід</h4>
                <form class="pt-3" method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <input type="email" asp-for="Email" class="form-control form-control-lg" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" asp-for="Password" class="form-control form-control-lg" placeholder="Пароль">
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-block btn-primary font-weight-medium auth-form-btn">Увійти</button>
                    </div>
                    <div class="my-2 d-flex justify-content-between align-items-center">
                        <div class="form-check">
                            <label asp-for="RememberMe" class="form-check-label text-muted">
                                <input type="checkbox" asp-for="RememberMe" class="form-check-input">
                                Запам'ятати мене
                            </label>
                        </div>
                        <a href="@Url.Action("ForgotPassword", "Account")" class="auth-link text-black">Забули пароль?</a>
                    </div>
                </form>

                    @{
                        var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                        if (loginProviders.Count() > 0)
                        {
                            <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                @foreach (var provider in loginProviders.ToList())
                                {
                                    if (provider.Name == "Facebook")
                                    {
                                        <div class="mb-2">
                                            <button type="submit" class="btn btn-block btn-facebook auth-form-btn" name="provider" value="@provider.Name">
                                                <i class="mdi mdi-facebook mr-2"></i>Увійти за допомогою Facebook
                                            </button>
                                        </div>
                                    }

                                    if (provider.Name == "Google")
                                    {
                                        <div class="mb-2">
                                            <button type="submit" class="btn btn-block btn-success auth-form-btn" name="provider" value="@provider.Name">
                                                <i class="mdi mdi-google mr-2"></i>Увійти за допомогою Google
                                            </button>
                                        </div>
                                    }
                                }
                            </form>
                        }
                    }
                    <div class="text-center mt-4 font-weight-light">
                        Не маєте облікового запису? <a href="@Url.Action("Register", "Account")" class="text-primary">Створити</a>
                    </div>
                

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
@*<h2>Login</h2>
    <form method="post" asp-controller="Account" asp-action="Login"
          asp-route-returnUrl="@Model.ReturnUrl">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Email"></label><br />
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="RememberMe"></label><br />
            <input asp-for="RememberMe" />
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </form>*@